# **Module 2** : Functions and Conditional Statement

## Define functions and return value

In [ ]:
# The print() function
print('Black dove, where you will go')

Black dove, where you will go

In [ ]:
# type() function return object's data type
number = 15

type(number)

int

In [ ]:
# str() convert an object into a string
number = str(number)

type(number)

str

In [ ]:
# Define function

def greeting(name):

  print('Welcome, ' +name+ '!')
  print('You are part of our team')

greeting('Deft')

Welcome, Deft!
You are part of our team

In [ ]:
# Define a function to calculate the area of triangle

def area_triangle(base, height):
  return base * height /2

In [ ]:
# Use the function to assign new variables to perform calculations

area_a = area_triangle(5 ,4)
area_b = area_triangle(7, 3)
total_area = area_a + area_b

total_area

20.5

In [ ]:
# Define the function to convert hours,minutes and seconds to total seconds
def get_seconds(hours,minutes,seconds):
  total_seconds = 3600*hours + 60*minutes + seconds
  return total_seconds

In [ ]:
# Use get_seconds to return result
get_seconds(16,45,45)

60345

## Write Clean Code

In [ ]:
# Ex: this code does the same thing to difference people
name = 'Kobbie Mainoo'
number = len(name)*9

print('Hello! ' +name+ ', Your lucky number is ' +str(number))

name = 'Rooney'
number = len(name)*9

print('Hello! ' +name+ ', Your lucky number is ' +str(number))

Hello! Kobbie Mainoo, Your lucky number is 117
Hello! Rooney, Your lucky number is 54

In [ ]:
# Define functions that simplflies above code and make them reusable

def lucky_number(name):
  number = len(name)*9
  print('Hello, ' +name+ '! Your lucky number is ' +str(number))

In [ ]:
lucky_number('Berbatov')
lucky_number("Andre Ohnana")

Hello, Berbatov! Your lucky number is 72
Hello, Andre Ohnana! Your lucky number is 108

In [ ]:
# This code request number a from the user and return its factorial
# print each iteration of the multiplication
a = input(); y = 1

for i in range(int(a)):
  y = y*(i+1)
  print(y)

5
1
2
6
24
120

In [ ]:
# This function takes an integer as an input and returns its factorial
def factorial(n):
  # Exclude 0 as. product, start with 1
  y = 1
  for i in range(int(n)):
    y = y*(i+1)
  return y

# Enter the numerical between 1 - 9
input_num = input()

# Apply factorial function
print(factorial(input_num))

5
120

## USE Comment

In [ ]:
def seed_calculation(fountain_side, grass_width):
  """
  Calculate a number of kilograms grass seed needed for
  a border around square fountain.

    Parameter
      fountain_side (num) = length of 1 side fountain in meters
      grass_width (num) = width of grass border in meters

    Return
      seed (float) = amount of seed (kg.) for grass border.
  """
  ### Area of fountain
  area_fountain = fountain_side**2

## Make comparision using operator

In [ ]:
# > check for greater than
print(10>2)

True

In [ ]:
# == check for equality
24 == 22

False

In [ ]:
# Letters that occur earlier in the alphabet evaluate to less than letters from later in the alphabet.
# BOTH sides of an `and` statement must be true to return True.
print("Yellow" > "Cyan" and "Brown" > "Magenta")

False

In [ ]:
# An `or` statement will return True if EITHER side evaluates to True.
print(25 > 50 or 1 != 2)# `not` reverses Boolean evaluation of what follows it.

True

In [ ]:
# `not` reverses Boolean evaluation of what follows it.
print(not 42 == "Answer")

True

In [ ]:
# Some operators cannot be used between different data types.
print(1 < "1")

TypeError: '<' not supported between instances of 'int' and 'str'

## Statement to make decision

In [ ]:
# Define a function that checks validity of username based on length.
def hint_username(username):
  if len(username) < 8:
    print("Invalid, must be at least 8 characters long")
  else:
    print("Valid username")

In [ ]:
hint_username('Jay')

Invalid, must be at least 8 characters long

In [ ]:
hint_username("AndreOhnana")

Valid username

In [ ]:
# Define a function that uses modulo to check if a number is even.
def is_even(number):
  if number % 2 == 0:
    return True
  return False

In [ ]:
is_even(2)

True

In [ ]:
is_even(33333)

False

In [ ]:
# Define a function that checks validity of username based on length.
def hint_username(username):
    if len(username) < 8:
        print("Invalid username. Must be at least 8 characters long.")
    elif len(username) > 15:
        print("Invalid username. Cannot exceed 15 characters.")
    else:
        print("Valid username.")

In [ ]:
hint_username("ljñkljfñklasdjflkñadjglk{a")

Invalid username. Cannot exceed 15 characters.

# [Activity] Function

## TASK[01] : Analzye function

In [ ]:
# Define a function named `total_sales`
def total_sales():

    # Return a value
    return

## TAKS[02] : Add a parameter and calculate to a function

In [ ]:
# Add a parameter to the function
def total_sales(n):

    # Multiply the parameter by the ticket price(7.99) to get total sales
    return n * 7.99

In [ ]:
# Call the function
total_sales(59)

471.41

## TASK[03] : Create function that accept two values

In [ ]:
def total_sales(price,num_ticket):
  return round(price*num_ticket,2)

In [ ]:
total_sales(15.9955,7)

111.97

# [Activity] Conditional Statement

## TASK[01] : Define a comparator function

You are a data professional for a movie theater, and your task is to use customers' purchasing data to determine whether or not to send them a marketing email.

Define a function called send_email that accepts the following arguments:

- **num_visits** - the number of times a customer has visited the theater
- **visits_email** - the minimum number of visits the customer must have made for them to receive a marketing email

The function must print either: Send email. or Not enough visits.

In [ ]:
def send_email(num_visits, visits_email):
  if num_visits >= visits_email :
    print('Send email.!')
  else:
    print('Not send')

### Test Function

In [ ]:
send_email(num_visits=3, visits_email=5)    # Should print 'Not enough visits.'
send_email(num_visits=5, visits_email=5)    # Should print 'Send email.'
send_email(num_visits=15, visits_email=10)  # Should print 'Send email.'

Not send
Send email.!
Send email.!

## TASK[02] : Add logical branching to your function

The theater is offering a promotion where customers who have visited the theater more than a designated number of times will also receive a coupon with their email. Update the function that you created above to include additional logical branching.
- Include an additional argument visits_coupon that represents the minimum number of visits the customer must have made for them to receive a coupon with their email.
- The function must print one of three possible messages:

  - Send email with coupon.
  - Send email only.
  - Not enough visits.

The minimum number of visits to receive a coupon will always be greater than the number to receive an email only.

In [ ]:
def send_email(num_visits, visits_email, visits_coupon):
  if num_visits >= visits_coupon:
    print('Send email with coupon.')
  elif num_visits >= visits_email:
    print('Send email only.')
  else:
    print('Not Enough visits')

### Test Function

In [ ]:
send_email(num_visits=3, visits_email=5, visits_coupon=8)   # Should print 'Not enough visits.'
send_email(num_visits=5, visits_email=5, visits_coupon=8)   # Should print 'Send email only.'
send_email(num_visits=6, visits_email=5, visits_coupon=8)   # Should print 'Send email only.'
send_email(num_visits=8, visits_email=5, visits_coupon=8)   # Should print 'Send email with coupon.'
send_email(num_visits=10, visits_email=5, visits_coupon=8)  # Should print 'Send email with coupon.'

Not Enough visits
Send email only.
Send email only.
Send email with coupon.
Send email with coupon.

# **Module 3** : Loops and Strings

## Introduction to while loops

In [ ]:
# Instantiate a counter.
x = 0

# Create a while loop that prints "not there yet," increments x by 1, a
# and prints x until x reaches 5.
while x < 5:
    print('Not there yet, x=' + str(x))
    x = x + 1
    print('x=' + str(x))

Not there yet, x=0
x=1
Not there yet, x=1
x=2
Not there yet, x=2
x=3
Not there yet, x=3
x=4
Not there yet, x=4
x=5

In [ ]:
x = 0

while x < 5:
  print('Not there yet, x=' +str(x))
  x = x + 1
  print('x=' + str(x))

Not there yet, x=0
x=1
Not there yet, x=1
x=2
Not there yet, x=2
x=3
Not there yet, x=3
x=4
Not there yet, x=4
x=5

In [ ]:
# Import the random module to be able to create a (pseudo) random number.
import random

number = random.randint(1,25)                   # Generate random number
number_of_guesses = 0                           # Instantiate guess counter

while number_of_guesses < 5:
    print('Guess a number between 1 and 25: ')  # Tell user to guess number
    guess = input()                             # Produce the user input field
    guess = int(guess)                          # Convert guess to integer
    number_of_guesses += 1                      # Increment guess count by 1

    if guess == number:                         # Break while loop if guess is correct
        break
    elif number_of_guesses == 5:                # Break while loop if guess limit reached
        break
    else:                                       # Tell user to try again
        print('Nope! Try again.')

# Message to display if correct
if guess == number:
    print('Correct! You guessed the number in ' + str(number_of_guesses) + ' tries!')
# Message to display after 5 unsuccessful guesses
else:
    print('You did not guess the number. The number was ' + str(number) + '.')

In [ ]:
# Import the random module to be able to create a random number (pseudo)
import random

number = random.randint(1,25)
number_of_guesses = 0

while number_of_guesses < 5:
  print('Guess number between 1 and 25: ')
  guess = input()
  guess = int(guess)
  number_of_guesses += 1

  if guess == number:
    break
  elif number_of_guesses == 5:
    break
  else:
    print('Nope! Try again.')

# Message to display if correct
if guess == number:
  print('Correct! You guessed the number in ' + str(number_of_guesses) + ' tries!')
# Message to display after 5 unsuccessful guesses
else:
  print('You did not guess the number. The number was ' + str(number) + '.')

Guess number between 1 and 25:
5
Nope! Try again.
Guess number between 1 and 25:
25
Nope! Try again.
Guess number between 1 and 25:
4
Nope! Try again.
Guess number between 1 and 25:
7
Nope! Try again.
Guess number between 1 and 25:
9
You did not guess the number. The number was 24.

## Introduction to loops

In [ ]:
# Example of for loop with range() function
for x in range(5):
    print(x)

0
1
2
3
4

In [ ]:
# Example of reading in a .txt file line by line with a for loop
with open('zen_of_python.txt') as f:
    for line in f:
        print(line)
print('\nI\'m done.')

FileNotFoundError: [Errno 2] No such file or directory: 'zen_of_python.txt'

## Loops with multiple range parameters

In [ ]:
# Use a for loop to calculate 9!
product = 1
for n in range(1, 10):
    product = product * n

print(product)

362880

In [ ]:
product = 1
for i in range(1,10):
  product = product * i

print(product)

362880

In [ ]:
# Define a function that converts Fahrenheit to Celsius.
def to_celsius(x):
     return (x-32) * 5/9

# Create a table of Celsius-->Fahrenheit conversions every 10 degrees, 0-100
for x in range(0, 101, 10):
     print(x, to_celsius(x))

0 -17.77777777777778
10 -12.222222222222221
20 -6.666666666666667
30 -1.1111111111111112
40 4.444444444444445
50 10.0
60 15.555555555555555
70 21.11111111111111
80 26.666666666666668
90 32.22222222222222
100 37.77777777777778

In [ ]:
def to_celsius(x):
  return (x-32) * 5/9

for x in range(1,101,10):
  print(x, to_celsius(x))

## Work with Strings

In [ ]:
# Adding strings will combine them.
'Hello' + 'world'

'Helloworld'

In [ ]:
# Blank space ("whitespace") is its own character.
'Hello ' + 'world'

'Hello world'

In [ ]:
# Including a whitespace when combining strings
'Hello' + ' ' + 'world'

'Hello world'

In [ ]:
# Variables containing strings can be added.
greeting_1 = 'Hello '
greeting_2 = 'world'
greeting_1 + greeting_2

'Hello world'

In [ ]:
# Strings can be multiplied by integers.
danger = 'Danger! '
danger * 3

'Danger! Danger! Danger! '

In [ ]:
# Strings cannot be used with subtraction or division.
danger - 2

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [ ]:
# Alternate single and double quotes to include one or the other in your string.
quote = '"Thank you for pressing the self-destruct button."'
print(quote)

"Thank you for pressing the self-destruct button."

In [ ]:
# \ is an escape character that modifies the character that follows it.
quote = "\"It's dangerous to go alone!\""
print(quote)

"It's dangerous to go alone!"

In [ ]:
# \n creates a newline.
greeting = "Good day,\nsir."
print(greeting)

Good day,
sir.

In [ ]:
# Using escape character (\) lets you express the newline symbol within a string.
newline = "\\n represents a newline in Python."
print(newline)

\n represents a newline in Python.

In [ ]:
# You can loop over strings.
python = 'Python'
for letter in python:
    print(letter + 'ut')

Put
yut
tut
hut
out
nut

## 5. String slicing

In [ ]:
# The index() method returns index of character's first occurrence in string.
pets = 'cats and dogs'
pets.index('s')

3

In [ ]:
pets = 'cats and dogs'
pets.index('a')

1

In [ ]:
# The index() method will throw an error if character is not in string.
pets.index('z')

ValueError: substring not found

In [ ]:
# Access the character at a given index of a string.
name = 'Jolene'
name[0]

'J'

In [ ]:
name[5]

'e'

In [ ]:
# Indices that are out of range will return an IndexError.
name[6]

IndexError: string index out of range

In [ ]:
# Negative indexing begins at the end of the string.
sentence = 'A man, a plan, a canal, Panama!'
sentence[-1]

'!'

In [ ]:
# Negative indexing begins at the end of the string.
sentence[-2]

'a'

In [ ]:
# Access a substring by using a slice.
color = 'orange'
color[1:4]

'ran'

In [ ]:
# Omitting the first value of the slice implies a value of 0.
fruit = 'pineapple'
fruit[:4]

'pine'

In [ ]:
# Omitting the last value of the slice implies a value of len(string).
fruit[4:]

'apple'

In [ ]:
# The `in` keyword returns Boolean of whether substring is in string.
'banana' in fruit

False

In [ ]:
# The `in` keyword returns Boolean of whether substring is in string.
'apple' in fruit

True

In [ ]:
url = 'https://exampleURL1.com/r626c36'

url = url.split('/')
print(url)

['https:', '', 'exampleURL1.com', 'r626c36']

In [ ]:
protocol = url[0]
store_id = url[-1]

print(protocol)
print(store_id)

https:
r626c36

## Format strings

In [ ]:
# Use format() method to insert values into your string, indicated by braces.
name = 'Manuel'
number = 3
print('Hello {}, your lucky number is {}.'.format(name, number))

Hello Manuel, your lucky number is 3.

In [ ]:
player = 'Bruno'
player_number = 8
print('Assits by {}, player number {}'.format(player,player_number))

Assits by Bruno, player number 8

In [ ]:
# You can assign names to designate how you want values to be inserted.
name = 'Manuel'
number = 3
print('Hello {name}, your lucky number is {num}.'.format(num=number, name=name))

Hello Manuel, your lucky number is 3.

In [ ]:
# You can use argument indices to designate how you want values to be inserted.
print('Hello {1}, your lucky number is {0}.'.format(number, name))

Hello Manuel, your lucky number is 3.

In [ ]:
# Example inserting prices into string
price = 7.75
with_tax = price * 1.07
print('Base price: ${} USD. \nWith tax: ${} USD.'.format(price, with_tax))

Base price: $7.75 USD.
With tax: $8.2925 USD.

In [ ]:
# Use :.2f to round a float value to two places beyond the decimal.
print('Base price: ${:.2f} USD. \nWith tax: ${:.2f} USD.'.format(price, with_tax))

Base price: $7.75 USD.
With tax: $8.29 USD.

In [ ]:
# Define a function that converts Fahrenheit to Celsius.
def to_celsius(x):
    return (x-32) * 5/9

# Create a temperature conversion table using string formatting
for x in range(0, 101, 10):
    print("{:>3} F | {:>6.2f} C".format(x, to_celsius(x)))

  0 F | -17.78 C
 10 F | -12.22 C
 20 F |  -6.67 C
 30 F |  -1.11 C
 40 F |   4.44 C
 50 F |  10.00 C
 60 F |  15.56 C
 70 F |  21.11 C
 80 F |  26.67 C
 90 F |  32.22 C
100 F |  37.78 C

# [Activity] While loops

## TASK[01] : Iterate with a while loop

While continuing your work as an analyst for a movie theater, you've been asked to create a function that will require a while loop. To prepare for the job, first practice using while loops.


---


**In this warmup task**:
- Create a variable called
candy_purchased that will act as a counter.
- Initialize it with a starting value of 0.
- Write a while loop that will continue iterating until 5 candies have been purchased.
- Each iteration of the loop must print 'Candy purchased: {number}' and increment candy_purchased by one.

In [ ]:
# Assign `candy_purchased` to an initial value of 0 to act as a counter
candy_purchased = 0

# Create an iterative statement using `while` and `candy_purchased`
# Display how many purchases have been made with each iteration

while candy_purchased <= 5:
    print('Candy purchased: ' + str(candy_purchased))
    # Increment the candy_purchased counter
    candy_purchased += 1

Candy purchased: 0
Candy purchased: 1
Candy purchased: 2
Candy purchased: 3
Candy purchased: 4
Candy purchased: 5

## TASK[02] : Iterate using while and if

In the next warmup task, you'll use a while loop that has an if statement and some Boolean logic.
- Write a while loop where candy_purchased begins at 0 and stops after 100 purchases have been made.
- Your code must:
Increment candy_purchased by one with each iteration
- Print 'Candy purchased: {number}' only when a multiple of 10 purchases have been made

In [ ]:
candy_purchased = 0

while candy_purchased <= 100:
    if candy_purchased % 10 == 0:
        print('Candy purchased: ' + str(candy_purchased))
    candy_purchased += 1

Candy purchased: 0
Candy purchased: 10
Candy purchased: 20
Candy purchased: 30
Candy purchased: 40
Candy purchased: 50
Candy purchased: 60
Candy purchased: 70
Candy purchased: 80
Candy purchased: 90
Candy purchased: 100

## TASK[03] : Create a webpage timer function

Now that you have some practice constructing while loops, it's time to take on the project you've been asked to complete for the theater.

This task makes use of a function called sleep() from the time module. Whenever sleep(n) is executed, the program will pause for n seconds. Run the below cell as an illustrative example to help you understand.

In [ ]:
from time import sleep

n = 3
while n >= 0:
  print(n)
  sleep(1)
  n = n - 1

3
2
1
0

In [ ]:
from time import sleep

n = 3
while n >= 0:
    print(n)
    sleep(1)    # Execution pauses for 1 second
    n = n - 1   # Decrement n by 1

3
2
1
0

For the purposes of this task, pretend that 1 second = 1 minute, so the above cell would represent a 3-minute countdown.

The movie theater has implemented online reservations through their website. From the seat selection page, customers have a limited amount of time to make their selection. You must write a function that counts down and reminds the user that they have limited time to make a selection. When time expires, it must print a timeout message.

- Instantiate a variable called mins and assign it a starting value of 10.
- Write a while loop that uses the sleep() function and decrements mins from 10 minutes. For each minute:

  - Print how many minutes remain as an integer.
BUT:

  - If there are 5 minutes left, print Place your reservation soon! 5 minutes remaining. instead of the integer.
  - If there are 2 minutes left, print Don't lose your seats! 2 minutes remaining. instead of the integer.
  - When zero minutes remain, print User timed out. instead of the integer.

Expected output:

    10

    9

    8

    7

    6

    Place your reservation soon! 5 minutes remaining.

    4

    3

    Don't lose your seats! 2 minutes remaining.

    1

    User timed out.

In [ ]:
from time import sleep

mins = 10
while mins >= 0:
  if mins == 5:
    print('Place your reservation soon! 5 minutes remaining.')
  elif mins == 2:
    print('Don\'t lose your seats! 2 minutes remaining.')
  elif mins == 0:
    print('User timed out')
  else:
    print(mins)
  mins -= 1
  sleep(1)

10
9
8
7
6
Place your reservation soon! 5 minutes remaining.
4
3
Don't lose your seats! 2 minutes remaining.
1
User timed out

# [Activity] For loops

## TASK[01]: Iterating with if, elif, and else
In your work as an analyst, you have received customer feedback for a newly launched product. The feedback is a numerical grade on a scale of 1-10, with 10 being the best. Understanding the number of customers who responded negatively, neutrally, or positively will help determine how to improve the product.

- Define a function called score_counter that accepts the following argument:
  - score_list - a list of customer-submitted scores, where each score is an integer, 1-10

- The function must iterate over the scores in score_list and bin them into three bins:
  - Negative (scores of 1-5)
  - Neutral (scores of 6-8)
  - Positive (scores of 9-10)

- The output of the function must be three statements, each on its own line:

  1. 'Negative: {number_of_negative_scores}'
  2. 'Neutral: {number_of_neutral_scores}'
  3. 'Positive: {number_of_positive_scores}'

In [ ]:
def score_counter(score_list):
    negative_scores = 0
    neutral_scores = 0
    positive_scores = 0

    for score in score_list:
        if score >= 9:
            positive_scores += 1
        elif score >= 6:
            neutral_scores += 1
        else:
            negative_scores += 1

    print('Negative:', negative_scores)
    print('Neutral:', neutral_scores)
    print('Positive:', positive_scores)

### Test function

In [ ]:
import random
random.seed(42)

possible_scores = list(range(1,11))
score_list1 = random.choices(possible_scores, weights=[8,8,8,8,8,3,3,4,20,30], k=10) # k the number of choices to make
score_list2 = random.choices(possible_scores, weights=[1,2,3,4,5,10,15,15,7,9], k=450)
score_list3 = random.choices(possible_scores, weights=[1,2,3,4,4,5,5,10,15,25], k=10000)

# random.choices(population, weights=None, k=1)
## weights: This is an optional list of weights that correspond to the elements in the population.
## The weights determine the probability of each element being chosen.
## If weights is not provided, all elements are chosen with equal probability.

print('Test 1:')            # SHOULD OUTPUT (neg, neut, pos):
score_counter(score_list1)  # 5, 1, 4
print('\nTest 2:')
score_counter(score_list2)  # 85, 253, 112
print('\nTest 3:')
score_counter(score_list3)  # 1935, 2652, 5413

Test 1:
Negative: 5
Neutral: 1
Positive: 4

Test 2:
Negative: 85
Neutral: 253
Positive: 112

Test 3:
Negative: 1935
Neutral: 2652
Positive: 5413

##TASK[02] : Create a for loop using if, not, and in

There is concern that some of the customer feedback scores are fake. One way to check the integrity of the feedback is to identify how many scores came from verified customers.

In this task, you are provided with two lists: a list of verified customer IDs and a list of all IDs that left feedback scores. You must validate the data by cross-checking the lists against each other.

- Define a function called id_validator that takes two lists as arguments:

  - **verified_ids** - a list containing IDs of verified customers
  - **feedback_ids** - a list containing unique IDs of all posters of feedback scores
- The output of the function must be two statements, each on its own line:

  1. **'{number_of_unverified_ids} of {number_of_feedback_ids} IDs unverified.'**
  2. **'{percent} unverified.'**

Example 1:

  - [IN] id_validator(verified_ids=['1', '2'], feedback_ids=['1', '2', '3'])

  - [OUT]  '1 of 3 IDs unverified.'
       '33.33% unverified.'

Explanation:

One of the IDs ('3') in **feedback_ids** is not in the list of verified_ids.
1/3 of the IDs in **feedback_ids** are unverified.

Example 2:

- [IN]  id_validator(verified_ids=['1a', '2b', '3c'], feedback_ids=['1a', '4d'])
- [OUT]  '1 of 2 IDs unverified.''50.0% unverified.'

Explanation:

  One of the IDs ('4d') in **feedback_ids** is not in the list of verified_ids.
  1/2 of the IDs in **feedback_ids** are unverified.

In [ ]:
def id_validator(verified_ids, feedback_ids):
    unverified_feedback = 0
    for id in feedback_ids:
        if id not in verified_ids:
            unverified_feedback += 1
    percent_unverified = unverified_feedback/len(feedback_ids)*100
    print(unverified_feedback, 'of', len(feedback_ids), 'IDs unverified.')
    print(str(round(percent_unverified, 2)) + '% unverified.')

### Test function

In [ ]:
import ada_c2_labs as lab

# TEST SCENARIOS:                                   # SHOULD OUTPUT:
print('Test 1:')
ver1, fb1 = lab.lists_gen(8, 20, 15, 15)            # 4 of 15 IDs unverified.
id_validator(ver1, fb1)                             # 26.67% unverified.

print('\nTest 2:')
ver2, fb2 = lab.lists_gen(8, 1000, 900, 600)        # 357 of 900 IDs unverified.
id_validator(ver2, fb2)                             # 39.67% unverified.

print('\nTest 3:')
ver3, fb3 = lab.lists_gen(8, 15000, 14925, 13788)   # 1208 of 14925 IDs unverified.
id_validator(ver3, fb3)                             # 8.09% unverified.

ModuleNotFoundError: No module named 'ada_c2_labs'

## TASK[03] : Create a nested loop
You've been asked to calculate the total value of all purchases made by each customer to understand how many customers have spent 100+ dollars.

  - Write a function called purchases_100 that accepts the following argument:

    - sales - a list of lists where each inner list contains the prices of items purchased by a unique customer.

  - The function must return the number of customers whose purchases summed to $100 or more.

Example:

    sales = [[2.75], [50.0, 50.0], [150.46, 200.12, 111.30]]

  - [IN]  purchases_100(sales)

  - [OUT]  2

In [ ]:
def purchases_100(sales):
    count = 0                           # Set a counter of totals > 100
    for customer in sales:              # Loop over each inner list
        customer_total = 0              # Set 0 value of purchases for the inner list
        for purchase in customer:       # For price in inner list:
            customer_total += purchase  # Add the price to value of purchases for inner list
        if customer_total >= 100:       # After looping over all prices in inner list, if
                                        # total >= 100
            count+=1                    # Increment the counter
    return count

### Test function

In [ ]:
import ada_c2_labs as lab
sales1 = lab.sales_data_generator(n_customers=10, seed=1)   # SHOULD OUTPUT:
print('Test 1:', purchases_100(sales1))                     # 5

sales2 = lab.sales_data_generator(n_customers=150, seed=18)
print('Test 2:', purchases_100(sales2))                     # 46

sales3 = lab.sales_data_generator(n_customers=1275, seed=42)
print('Test 3:', purchases_100(sales3))                     # 470

# [Activity] Works with sting in Python

## Task 1: Check and change data types
Now that you have experience in marketing, you've moved on to market research. Your new task is collecting store data for future analysis. In this task, you're given a four-digit numeric store ID stored in a variable called **store_id**.

1. Convert **store_id** to a string and store the result in the same variable.

2. Confirm the type of **store_id** after the conversion.

In [ ]:
store_id = 1101

# 1. ### YOUR CODE HERE ###
store_id = str(store_id)

# 2. ### YOUR CODE HERE ###
print(type(store_id))

<class 'str'>

## Task 2: String concatenation
As you continue gathering data, you realize that the store_id variable is actually the ZIP Code where the store is located, but the leading 0 has been cut off.

- Define a function called **zip_checker** that accepts the following argument:
  - **zipcode** - a string with either four or five characters

- Return:

  - If **zipcode** has five characters, and the first two characters are NOT **'00'**, return **zipcode** as a string. Otherwise, return **'Invalid ZIP Code.'**. (ZIP Codes do not begin with 00 in the mainland U.S.)
  - If **zipcode** has four characters and the first character is NOT **'0'**, the function must add a zero to the beginning of the string and return the five-character zipcode as a string.
  - If **zipcode** has four characters and the first character is **'0'**, the function must return **'Invalid ZIP Code.'**.

In [ ]:
def zip_checker(zipcode):
    if len(zipcode) == 5:
        if zipcode[0:2] =='00':
            return 'Invalid ZIP Code.'
        else:
            return zipcode
    elif zipcode[0] != '0':
        zipcode = '0' + zipcode
        return zipcode
    else:
        return 'Invalid ZIP Code.'

### Test function

In [ ]:
print(zip_checker('02806'))     # Should return 02806.
print(zip_checker('2806'))      # Should return 02806.
print(zip_checker('0280'))      # Should return 'Invalid ZIP Code.'
print(zip_checker('00280'))     # Should return 'Invalid ZIP Code.'

02806
02806
Invalid ZIP Code.
Invalid ZIP Code.

## Task 3: Extract the store ID
Now imagine that you've been provided **url**, which is a URL containing the store's actual ID at the end of it.

  1. Extract the seven-character store ID from the end of **url** and assign the result to a variable called **id**.

  2. Print the contents of **id**.

In [ ]:
url = "https://exampleURL1.com/r626c36"

# 1. ### YOUR CODE HERE ###
id = url[-7:]

# 2. ### YOUR CODE HERE ###
print(id)

r626c36

## Task 4: String extraction function
You have many URLs that contain **store IDs**, but many of them are invalid—either because they use an invalid **protocol** (the beginning of the URL) or because the store ID is not seven characters long.

- The correct URL **protocol** is https: Anything else is invalid.
- A valid **store ID** must have exactly seven characters.

Define a function called **url_checker** that accepts the following argument:
- url - a URL string

Return:
  - If both the **protocol** and the **store ID** are invalid:
    - print two lines:
      
        '{protocol} is an invalid protocol.'

        '{store_id} is an invalid store ID.'

  - If only the **protocol** is invalid:
    - print:

        '{protocol} is an invalid protocol.'

  - If only the **store ID** is invalid:
    - print:
        
        '{store_id} is an invalid store ID.'
  - If both the **protocol** and the **store ID** are valid, return the **store ID**.

In the above cases, {protocol} is a string of the **protocol** and {store_id} is a string of the **store ID**.

In [ ]:
# Sample valid URL for reference while writing your function:
url = 'https://exampleURL1.com/r626c36'

### YOUR CODE HERE ###
def url_checker(url):
    url = url.split('/')
    protocol = url[0]
    store_id = url[-1]
    # If both protocol and store_id bad
    if protocol != 'https:' and len(store_id) != 7:
        print(f'{protocol} is an invalid protocol.',
            f'\n{store_id} is an invalid store ID.')
    # If just protocol bad
    elif protocol != 'https:':
        print(f'{protocol} is an invalid protocol.')
    # If just store_id bad
    elif len(store_id) != 7:
        print(f'{store_id} is an invalid store ID.')
    # If all ok
    else:
        return store_id

### Test function

In [ ]:
                                                # Should return:
url_checker('http://exampleURL1.com/r626c3')    # 'http: is an invalid protocol.'
print()                                         # 'r626c3 is an invalid store ID.'

url_checker('ftps://exampleURL1.com/r626c36')   # 'ftps: is an invalid protocol.
print()
url_checker('https://exampleURL1.com/r626c3')   # 'r626c3 is an invalid store ID.'
print()
url_checker('https://exampleURL1.com/r626c36')  # 'r626c36'

http: is an invalid protocol.
r626c3 is an invalid store ID.

ftps: is an invalid protocol.

r626c3 is an invalid store ID.

'r626c36'

In [ ]:
x = 1
y = 2
print(f'{x} + {y}')

1 + 2

# Module 4 : Data Structures in Python

## Introduction to lists

In [ ]:
# Assign a list using brackets, with elements separated by commas.
x = ["Now", "we", "are", "cooking", "with", 7, "ingredients"]

# Print element at index 3.
print(x[3])

cooking

In [ ]:
# Trying to access an index not in list will result in IndexError.
print(x[7])

IndexError: list index out of range

In [ ]:
# Access part of a list by slicing.
x[1:3]

['we', 'are']

In [ ]:
# Omitting the first value of the slice implies a value of 0.
x[:2]

['Now', 'we']

In [ ]:
# Omitting the last value of the slice implies a value of len(list).
x[2:]

['are', 'cooking', 'with', 7, 'ingredients']

In [ ]:
# Check the data type of an object using type() function.
type(x)

list

In [ ]:
# The `in` keyword lets you check if a value is contained in the list.
x = ["Now", "we", "are", "cooking", "with", 7, "ingredients"]
"This" in x

False

## Modify Contents of a list

In [ ]:
# The append() method adds an element to the end of a list.
fruits = ['Pineapple', 'Banana', 'Apple', 'Melon']
fruits.append('Kiwi')
print(fruits)

['Pineapple', 'Banana', 'Apple', 'Melon', 'Kiwi']

In [ ]:
# The insert() method adds an element to a list at the specified index.
fruits.insert(1, 'Orange')
print(fruits)

['Pineapple', 'Orange', 'Banana', 'Apple', 'Melon', 'Kiwi']

In [ ]:
# The insert() method adds an element to a list at the specified index.
fruits.insert(0, 'Mango')
print(fruits)

['Mango', 'Pineapple', 'Orange', 'Banana', 'Apple', 'Melon', 'Kiwi']

In [ ]:
# The remove() method deletes the first occurrence of an element in a list.
fruits.remove('Banana')
print(fruits)

['Mango', 'Pineapple', 'Orange', 'Apple', 'Melon', 'Kiwi']

In [ ]:
# Trying to remove an element that doesn't exist results in an error.
fruits.remove('Strawberry')
print(fruits)

ValueError: list.remove(x): x not in list

In [ ]:
# The pop() method removes the element at a given index and returns it.
# If no index is given, it removes and returns the last element.
fruits.pop(2)
print(fruits)

['Mango', 'Pineapple', 'Apple', 'Melon', 'Kiwi']

In [ ]:
# Reassign the element at a given index with a new value.
fruits[1] = 'Mango'
print(fruits)

['Mango', 'Mango', 'Apple', 'Melon', 'Kiwi']

In [ ]:
# Strings are immutable because you need to reassign them to modify them.
power = '1.21'
power = power + ' gigawatts'
print(power)

1.21 gigawatts

In [ ]:
# You cannot reassign a specific character within a string.
power[0] = '2'

TypeError: 'str' object does not support item assignment

In [ ]:
# Lists are mutable because you can overwrite their elements
power = [1.21, 'gigawatts']
power[0] = 2.21
print(power)

[2.21, 'gigawatts']

## Introduction to tuples

In [ ]:
# Tuples are instantiated with parentheses.
fullname = ('Masha', 'Z', 'Hopper')

# Tuples are immutable, so their elements cannot be overwritten.
fullname[2] = 'Copper'
print(fullname)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# You can combine tuples using addition.
fullname = fullname + ('Jr',)
print(fullname)

('Masha', 'Z', 'Hopper', 'Jr')

In [ ]:
# The tuple() function converts an object's data type to tuple.
fullname = ['Masha', 'Z', 'Hopper']
fullname = tuple(fullname)
print(fullname)

('Masha', 'Z', 'Hopper')

In [ ]:
# Functions that return multiple values return them in a tuple.
def to_dollars_cents(price):
    '''
    Split price (float) into dollars and cents.
    '''
    dollars = int(price // 1)
    cents = round(price % 1 * 100)

    return dollars, cents

In [ ]:
# Functions that return multiple values return them in a tuple.
to_dollars_cents(6.55)

(6, 55)

In [ ]:
# "Unpacking" a tuple allows a tuple's elements to be assigned to variables.
dollars, cents = to_dollars_cents(6.55)
print(dollars + 1)
print(cents + 1)

7
56

In [ ]:
# The data type of an element of an unpacked tuple is not necessarily a tuple.
type(dollars)

int

In [ ]:
# Create a list of tuples, each representing the name, age, and position of a
# player on a basketball team.
team = [('Marta', 20, 'center'),
        ('Ana', 22, 'point guard'),
        ('Gabi', 22, 'shooting guard'),
        ('Luz', 21, 'power forward'),
        ('Lorena', 19, 'small forward'),
        ]

In [ ]:
for name, age, position in team:
    print(name)

Marta
Ana
Gabi
Luz
Lorena

In [ ]:
# This code produces the same result as the code in the cell above.
for player in team:
    print(player[0])

Marta
Ana
Gabi
Luz
Lorena

## More with loops, lists and tuples

In [ ]:
# Create a list of tuples, each representing the name, age, and position of a
# player on a basketball team.
team = [
    ('Marta', 20, 'center'),
    ('Ana', 22, 'point guard'),
    ('Gabi', 22, 'shooting guard'),
    ('Luz', 21, 'power forward'),
    ('Lorena', 19, 'small forward'),
    ]

In [ ]:
# Create a function to extract and names and positions from the team list and
# format them to be printed. Returns a list.
def player_position(players):
    result = []
    for name, age, position in players:
        result.append('Name: {:>19} \nPosition: {:>15}\n'.format(name, position))

    return result

In [ ]:
# Loop over the list of formatted names and positions produced by
# player_position() function and print them.
for player in player_position(team):
    print(player)

Name:               Marta
Position:          center

Name:                 Ana
Position:     point guard

Name:                Gabi
Position:  shooting guard

Name:                 Luz
Position:   power forward

Name:              Lorena
Position:   small forward

In [ ]:
# Nested loops can produce the different combinations of pips (dots) in
# a set of dominoes.
for left in range(7):
    for right in range(left, 7):
        print(f"[{left}|{right}]", end=" ")
    print('\n')

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6]

[1|1] [1|2] [1|3] [1|4] [1|5] [1|6]

[2|2] [2|3] [2|4] [2|5] [2|6]

[3|3] [3|4] [3|5] [3|6]

[4|4] [4|5] [4|6]

[5|5] [5|6]

[6|6]

In [ ]:
# Create a list of dominoes, with each domino reprented as a tuple.
dominoes = []
for left in range(7):
    for right in range(left, 7):
        dominoes.append((left, right))
dominoes

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 5),
 (5, 6),
 (6, 6)]

In [ ]:
# Select index 1 of the tuple at index 4 in the list of dominoes.
dominoes[4][1]

4

In the following code cells are two ways to add the total number of pips on each individual domino to a list, as indicated in this diagram:
![Unknown.png]()

The first way uses a for loop. The second way uses a list comprehension.

In [ ]:
# You can use a for loop to sum the pips on each domino and append
# the sum to a new list.
pips_from_loop = []
for domino in dominoes:
    pips_from_loop.append(domino[0] + domino[1])
print(pips_from_loop)

[0, 1, 2, 3, 4, 5, 6, 2, 3, 4, 5, 6, 7, 4, 5, 6, 7, 8, 6, 7, 8, 9, 8, 9, 10, 10, 11, 12]

In [ ]:
# A list comprehension produces the same result with less code.
pips_from_list_comp = [domino[0] + domino[1] for domino in dominoes]
pips_from_loop == pips_from_list_comp

True

## Introduction to dictionaries

In [ ]:
# Create a dictionary with pens as keys and the animals they contain as values.
# Dictionaries can be instantiated using braces.
zoo = {
    'pen_1': 'penguins',
    'pen_2': 'zebras',
    'pen_3': 'lions',
    }

# Selecting the `pen_2` key returns `zebras`, the value stored at that key.
zoo['pen_2']

'zebras'

In [ ]:
# You cannot access a dictionary's values by name using bracket indexing
# because the computer interprets this as a key, not a value.
zoo['zebras']

KeyError: 'zebras'

In [ ]:
# Dictionaries can also be instantiated using the dict() function.
zoo = dict(
    pen_1='monkeys',
    pen_2='zebras',
    pen_3='lions',
    )

zoo['pen_2']

'zebras'

In [ ]:
# Another way to create a dictionary using the dict() function.
zoo = dict(
    [
     ['pen_1', 'monkeys'],
     ['pen_2', 'zebras'],
     ['pen_3', 'lions'],
    ]
)

zoo['pen_2']

'zebras'

In [ ]:
# Assign a new key: value pair to an existing dictionary.
zoo['pen_4'] = 'crocodiles'
zoo

{'pen_1': 'monkeys',
 'pen_2': 'zebras',
 'pen_3': 'lions',
 'pen_4': 'crocodiles'}

In [ ]:
# Dictionaries are unordered and do not support numerical indexing.
zoo[2]

KeyError: 2

In [ ]:
# Use the `in` keyword to produce a Boolean of whether a given key exists in a dictionary.
print('pen_1' in zoo)
print('pen_7' in zoo)

True
False

## Dictionary methods

In [ ]:
# Create a list of tuples, each representing the name, age, and position of a
# player on a basketball team.
team = [
    ('Marta', 20, 'center'),
    ('Ana', 22, 'point guard'),
    ('Gabi', 22, 'shooting guard'),
    ('Luz', 21, 'power forward'),
    ('Lorena', 19, 'small forward'),
    ]

In [ ]:
# Add new players to the list.
team = [
    ('Marta', 20, 'center'),
    ('Ana', 22, 'point guard'),
    ('Gabi', 22, 'shooting guard'),
    ('Luz', 21, 'power forward'),
    ('Lorena', 19, 'small forward'),
    ('Sandra', 19, 'center'),
    ('Mari', 18, 'point guard'),
    ('Esme', 18, 'shooting guard'),
    ('Lin', 18, 'power forward'),
    ('Sol', 19, 'small forward'),
    ]

In [ ]:
# Instantiate an empty dictionary.
new_team = {}

# Loop over the tuples in the list of players and unpack their values.
for name, age, position in team:
    if position in new_team:                    # If position already a key in new_team,
        new_team[position].append((name, age))  # append (name, age) tup to list at that value.
    else:
        new_team[position] = [(name, age)]      # If position not a key in new_team,
                                                # create a new key whose value is a list
                                                # containing (name, age) tup.
new_team

{'center': [('Marta', 20), ('Sandra', 19)],
 'point guard': [('Ana', 22), ('Mari', 18)],
 'shooting guard': [('Gabi', 22), ('Esme', 18)],
 'power forward': [('Luz', 21), ('Lin', 18)],
 'small forward': [('Lorena', 19), ('Sol', 19)]}

In [ ]:
# Examine the value at the 'point guard' key.
new_team['point guard']

[('Ana', 22), ('Mari', 18)]

In [ ]:
# You can access the a dictionary's keys by looping over them.
for x in new_team:
    print(x)

center
point guard
shooting guard
power forward
small forward

In [ ]:
# The keys() method returns the keys of a dictionary.
new_team.keys()

dict_keys(['center', 'point guard', 'shooting guard', 'power forward', 'small forward'])

In [ ]:
# The values() method returns all the values in a dictionary.
new_team.values()

dict_values([[('Marta', 20), ('Sandra', 19)], [('Ana', 22), ('Mari', 18)], [('Gabi', 22), ('Esme', 18)], [('Luz', 21), ('Lin', 18)], [('Lorena', 19), ('Sol', 19)]])

In [ ]:
# The items() method returns both the keys and the values.
for a, b in new_team.items():
    print(a, b)

center [('Marta', 20), ('Sandra', 19)]
point guard [('Ana', 22), ('Mari', 18)]
shooting guard [('Gabi', 22), ('Esme', 18)]
power forward [('Luz', 21), ('Lin', 18)]
small forward [('Lorena', 19), ('Sol', 19)]

## Introduction to sets

In [ ]:
# The set() function converts a list to a set.
x = set(['foo', 'bar', 'baz', 'foo'])
print(x)

{'foo', 'bar', 'baz'}

In [ ]:
# The set() function converts a tuple to a set.
x = set(('foo','bar','baz', 'foo'))
print(x)

{'foo', 'bar', 'baz'}

In [ ]:
# The set() function converts a string to a set.
x = set('foo')
print(x)

{'o', 'f'}

In [ ]:
# You can use braces to instantiate a set
x = {'foo'}
print(type(x))

# But empty braces are reserved for dictionaries.
y = {}
print(type(y))

<class 'set'>
<class 'dict'>

In [ ]:
# Instantiating a set with braces treats the contents as literals.
x = {'foo'}
print(x)

{'foo'}

In [ ]:
# The intersection() method (&) returns common elements between two sets.
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}
print(set1.intersection(set2))
print(set1 & set2)

{4, 5, 6}
{4, 5, 6}

In [ ]:
# The union() method (|) returns all the elements from two sets, each represented once.
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}
print(x1.union(x2))
print(x1 | x2)

{'foo', 'quux', 'qux', 'bar', 'baz'}
{'foo', 'quux', 'qux', 'bar', 'baz'}

In [ ]:
# The difference() method (-) returns the elements in set1 that aren't in set2
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}
print(set1.difference(set2))
print(set1 - set2)

{1, 2, 3}
{1, 2, 3}

In [ ]:
# ... and the elements in set2 that aren't in set1.
print(set2.difference(set1))
print(set2 - set1)

{8, 9, 7}
{8, 9, 7}

In [ ]:
# The symmetric_difference() method (^) returns all the values from each set that
# are not in both sets.
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}
set2.symmetric_difference(set1)
set2 ^ set1

{1, 2, 3, 7, 8, 9}

## Introduction to Numpy

In [ ]:
# Lists cannot be multiplied together.
list_a = [1, 2, 3]
list_b = [2, 4, 6]

list_a * list_b

TypeError: can't multiply sequence by non-int of type 'list'

In [ ]:
# To perform element-wise multiplication between two lists, you could
# use a for loop.
list_c = []
for i in range(len(list_a)):
    list_c.append(list_a[i] * list_b[i])

list_c

[2, 8, 18]

In [ ]:
# NumPy arrays let you perform array operations.

# Import numpy, aliased as np.
import numpy as np

# Convert lists to arrays.
array_a = np.array(list_a)
array_b = np.array(list_b)

# Perform element-wise multiplication between the arrays.
array_a * array_b

array([ 2,  8, 18])

## Basic array operations

In [ ]:
import numpy as np

# The np.array() function converts an object to an ndarray
x = np.array([1, 2, 3, 4])
x

array([1, 2, 3, 4])

In [ ]:
# Arrays can be indexed.
x[-1] = 5
x

array([1, 2, 3, 5])

In [ ]:
# Trying to access an index that doesn't exist will throw an error.
x[4] = 10

IndexError: index 4 is out of bounds for axis 0 with size 4

In [ ]:
# Arrays cast every element they contain as the same data type.
arr = np.array([1, 2, 'coconut'])
arr

array(['1', '2', 'coconut'], dtype='<U21')

In [ ]:
# NumPy arrays are a class called `ndarray`.
print(type(arr))

<class 'numpy.ndarray'>

In [ ]:
# The dtype attribute returns the data type of an array's contents.
arr = np.array([1, 2, 3])
arr.dtype

dtype('int64')

In [ ]:
# The shape attribute returns the number of elements in each dimension
# of an array.
arr.shape

(3,)

In [ ]:
# The ndim attribute returns the number of dimensions in an array.
arr.ndim

1

In [ ]:
# Create a 2D array by passing a list of lists to np.array() function.
arr_2d = np.array([[1, 2], [3, 4], [5, 6], [7, 8]])
print(arr_2d.shape)
print(arr_2d.ndim)
arr_2d

(4, 2)
2

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [ ]:
# Create a 3D array by passing a list of two lists of lists to np.array() function.
arr_3d = np.array([[[1, 2, 3],
                   [3, 4, 5]],

                  [[5, 6, 7],
                   [7, 8, 9]]]
)

print(arr_3d.shape)
print(arr_3d.ndim)
arr_3d

(2, 2, 3)
3

array([[[1, 2, 3],
        [3, 4, 5]],

       [[5, 6, 7],
        [7, 8, 9]]])

In [ ]:
# The reshape() method changes the shape of an array.
arr_2d = arr_2d.reshape(2, 4)
arr_2d

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [ ]:
# Create new array
arr = np.array([1, 2, 3, 4, 5])

# The mean() method returns the mean of the elements in an array.
np.mean(arr)

3.0

In [ ]:
# The log() method returns the natural logarithm of the elements in an array.
np.log(arr)

array([0.        , 0.69314718, 1.09861229, 1.38629436, 1.60943791])

In [ ]:
# The floor() method returns the value of a number rounded down
# to the nearest integer.
np.floor(5.7)

5.0

In [ ]:
# The ceil() method returns the value of a number rounded up
# to the nearest integer.
np.ceil(5.3)

6.0

## Introduction to Pandas

In [ ]:
# NumPy and pandas are typically imported together.
# np and pd are conventional aliases.
import numpy as np
import pandas as pd

In [ ]:
# Read in data from a .csv file.
dataframe = pd.read_csv('train.csv')

# Print the first 25 rows.
dataframe.head(25)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S

In [ ]:
# Calculate the mean of the Age column.
dataframe['Age'].mean()

29.69911764705882

In [ ]:
# Calculate the maximum value contained in the Age column.
dataframe['Age'].max()

80.0

In [ ]:
# Calculate the minimum value contained in the Age column.
dataframe['Age'].min()

0.42

In [ ]:
# Calculate the standard deviation of the values in the Age column.
dataframe['Age'].std()

14.526497332334044

In [ ]:
# Return the number of rows that share the same value in the Pclass column.
dataframe['Pclass'].value_counts()

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [ ]:
# The describe() method returns summary statistics of the dataframe.
dataframe.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [ ]:
# Filter the data to return only rows where value in Age column is greater than 60
# and value in Pclass column equals 3.
dataframe[(dataframe['Age'] > 60) & (dataframe['Pclass'] == 3)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
116,117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q
280,281,0,3,"Duane, Mr. Frank",male,65.0,0,0,336439,7.7500,NaN,Q
326,327,0,3,"Nysveen, Mr. Johan Hansen",male,61.0,0,0,345364,6.2375,NaN,S
483,484,1,3,"Turkula, Mrs. (Hedwig)",female,63.0,0,0,4134,9.5875,NaN,S
851,852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S

In [ ]:
# Create a new column called 2023_Fare that contains the inflation-adjusted
# fare of each ticket in 2023 pounds.
dataframe['2023_Fare'] = dataframe['Fare'] * 146.14
dataframe

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,2023_Fare
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1059.515000
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,10417.341462
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1158.159500
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,7760.034000
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1176.427000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,1899.820000
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,4384.200000
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,3426.983000
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,4384.200000
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,1132.585000

In [ ]:
# Use iloc to access data using index numbers.
# Select row 1, column 3.
dataframe.iloc[1][3]

<ipython-input-18-bb823562d34d>:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  dataframe.iloc[1][3]

'Cumings, Mrs. John Bradley (Florence Briggs Thayer)'

In [ ]:
# Group customers by Sex and Pclass and calculate the total paid for each group
# and the mean price paid for each group.
fare = dataframe.groupby(['Sex', 'Pclass']).agg({'Fare': ['count', 'sum']})
fare['fare_avg'] = fare['Fare']['sum'] / fare['Fare']['count']
fare

               Fare               fare_avg
              count        sum
Sex    Pclass
female 1         94  9975.8250  106.125798
       2         76  1669.7292   21.970121
       3        144  2321.1086   16.118810
male   1        122  8201.5875   67.226127
       2        108  2132.1125   19.741782
       3        347  4393.5865   12.661633

## [11] : Pandas Basics

In [ ]:
import pandas as pd

# Use pd.DataFrame() function to create a dataframe from a dictionary.
data = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=data)
df

   col1  col2
0     1     3
1     2     4

In [ ]:
# Use pd.DataFrame() function to create a dataframe from a NumPy array.
df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
                   columns=['a', 'b', 'c'], index=['x', 'y', 'z'])
df2

   a  b  c
x  1  2  3
y  4  5  6
z  7  8  9

In [ ]:
# Use pd.read_csv() function to create a dataframe from a .csv file
# from a URL or filepath.
df3 = pd.read_csv('train.csv')
df3.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
# Print class of first row
print(type(df3.iloc[0]))

# Print class of "Name" column
print(type(df3['Name']))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [ ]:
# Create a copy of df3 named 'titanic'.
titanic = df3

# The head() method outputs the first 5 rows of dataframe.
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
# The columns attribute returns an Index object containing the dataframe's columns.
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
# The shape attribute returns the shape of the dataframe (rows, columns).
titanic.shape

(891, 12)

In [ ]:
# The info() method returns summary information about the dataframe.
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
# You can select a column by name using brackets.
titanic['Age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [ ]:
# You can select a column by name using dot notation
# only when its name contains no spaces or special characters.
titanic.Age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [ ]:
# You can create a DataFrame object of specific columns using a list
# of column names inside brackets.
titanic[['Name', 'Age']]

                                                  Name   Age
0                              Braund, Mr. Owen Harris  22.0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0
2                               Heikkinen, Miss. Laina  26.0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0
4                             Allen, Mr. William Henry  35.0
..                                                 ...   ...
886                              Montvila, Rev. Juozas  27.0
887                       Graham, Miss. Margaret Edith  19.0
888           Johnston, Miss. Catherine Helen "Carrie"   NaN
889                              Behr, Mr. Karl Howell  26.0
890                                Dooley, Mr. Patrick  32.0

[891 rows x 2 columns]

In [ ]:
# Use iloc to return a Series object of the data in row 0.
titanic.iloc[0]

PassengerId                          1
Survived                             0
Pclass                               3
Name           Braund, Mr. Owen Harris
Sex                               male
Age                               22.0
SibSp                                1
Parch                                0
Ticket                       A/5 21171
Fare                              7.25
Cabin                              NaN
Embarked                             S
Name: 0, dtype: object

In [ ]:
# Use iloc to return a DataFrame view of the data in row 0.
titanic.iloc[[0]]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [ ]:
# Use iloc to return a DataFrame view of the data in rows 0, 1, 2.
titanic.iloc[0:3]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [ ]:
# Use iloc to return a DataFrame view of rows 0-2 at columns 3 and 4.
titanic.iloc[0:3, [3, 4]]

                                                Name     Sex
0                            Braund, Mr. Owen Harris    male
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female
2                             Heikkinen, Miss. Laina  female

In [ ]:
# Use iloc to return a DataFrame view of all rows at column 3.
titanic.iloc[:, [3]]

                                                  Name
0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
..                                                 ...
886                              Montvila, Rev. Juozas
887                       Graham, Miss. Margaret Edith
888           Johnston, Miss. Catherine Helen "Carrie"
889                              Behr, Mr. Karl Howell
890                                Dooley, Mr. Patrick

[891 rows x 1 columns]

In [ ]:
# Use iloc to access value in row 0, column 3.
titanic.iloc[0, 3]

'Braund, Mr. Owen Harris'

In [ ]:
# Use loc to access values in rows 0-3 at just the Name column.
titanic.loc[0:3, ['Name']]

                                                Name
0                            Braund, Mr. Owen Harris
1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2                             Heikkinen, Miss. Laina
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)

In [ ]:
# Create a new column in the dataframe containing the value in the Age column + 100.
titanic['Age_plus_100'] = titanic['Age'] + 100
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_plus_100
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,122.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,138.0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,126.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,135.0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,135.0

## [12] : Boolean Masking

In [ ]:
# Instantiate a dictionary of planetary data.
data = {'planet': ['Mercury', 'Venus', 'Earth', 'Mars',
                   'Jupiter', 'Saturn', 'Uranus', 'Neptune'],
       'radius_km': [2440, 6052, 6371, 3390, 69911, 58232,
                     25362, 24622],
       'moons': [0, 0, 1, 2, 80, 83, 27, 14]
        }
# Use pd.DataFrame() function to convert dictionary to dataframe.
planets = pd.DataFrame(data)
planets

    planet  radius_km  moons
0  Mercury       2440      0
1    Venus       6052      0
2    Earth       6371      1
3     Mars       3390      2
4  Jupiter      69911     80
5   Saturn      58232     83
6   Uranus      25362     27
7  Neptune      24622     14

In [ ]:
# Create a Boolean mask of planets with fewer than 20 moons.
mask = planets['moons'] < 20
mask

0     True
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: moons, dtype: bool

In [ ]:
# Apply the Boolean mask to the dataframe to filter it so it contains
# only the planets with fewer than 20 moons.
planets[mask]

    planet  radius_km  moons
0  Mercury       2440      0
1    Venus       6052      0
2    Earth       6371      1
3     Mars       3390      2
7  Neptune      24622     14

In [ ]:
# Define the Boolean mask and apply it in a single line.
planets[planets['moons'] < 20]

    planet  radius_km  moons
0  Mercury       2440      0
1    Venus       6052      0
2    Earth       6371      1
3     Mars       3390      2
7  Neptune      24622     14

In [ ]:
# Boolean masks don't change the data. They're just views.
planets

    planet  radius_km  moons
0  Mercury       2440      0
1    Venus       6052      0
2    Earth       6371      1
3     Mars       3390      2
4  Jupiter      69911     80
5   Saturn      58232     83
6   Uranus      25362     27
7  Neptune      24622     14

In [ ]:
# You can assign a dataframe view to a named variable.
moons_under_20 = planets[mask]
moons_under_20

    planet  radius_km  moons
0  Mercury       2440      0
1    Venus       6052      0
2    Earth       6371      1
3     Mars       3390      2
7  Neptune      24622     14

In [ ]:
# Create a Boolean mask of planets with fewer than 10 moons OR more than 50 moons.
mask = (planets['moons'] < 10) | (planets['moons'] > 50)
mask

0     True
1     True
2     True
3     True
4     True
5     True
6    False
7    False
Name: moons, dtype: bool

In [ ]:
# Apply the Boolean mask to filter the data.
planets[mask]

    planet  radius_km  moons
0  Mercury       2440      0
1    Venus       6052      0
2    Earth       6371      1
3     Mars       3390      2
4  Jupiter      69911     80
5   Saturn      58232     83

In [ ]:
# Create a Boolean mask of planets with more than 20 moons, excluding them if they
# have 80 moons or if their radius is less than 50,000 km.
mask = (planets['moons'] > 20) & ~(planets['moons'] == 80) & ~(planets['radius_km'] < 50000)

# Apply the mask
planets[mask]

## [13] : Grouping and aggregation

In [ ]:
import numpy as np
import pandas as pd

# Instantiate a dictionary of planetary data.
data = {'planet': ['Mercury', 'Venus', 'Earth', 'Mars',
                   'Jupiter', 'Saturn', 'Uranus', 'Neptune'],
        'radius_km': [2440, 6052, 6371, 3390, 69911, 58323,
                     25362, 24622],
        'moons': [0, 0, 1, 2, 80, 83, 27, 14],
        'type': ['terrestrial', 'terrestrial', 'terrestrial', 'terrestrial',
                 'gas giant', 'gas giant', 'ice giant', 'ice giant'],
        'rings': ['no', 'no', 'no', 'no', 'yes', 'yes', 'yes','yes'],
        'mean_temp_c': [167, 464, 15, -65, -110, -140, -195, -200],
        'magnetic_field': ['yes', 'no', 'yes', 'no', 'yes', 'yes', 'yes', 'yes']
        }

# Use pd.DataFrame() function to convert dictionary to dataframe.
planets = pd.DataFrame(data)
planets

    planet  radius_km  moons         type rings  mean_temp_c magnetic_field
0  Mercury       2440      0  terrestrial    no          167            yes
1    Venus       6052      0  terrestrial    no          464             no
2    Earth       6371      1  terrestrial    no           15            yes
3     Mars       3390      2  terrestrial    no          -65             no
4  Jupiter      69911     80    gas giant   yes         -110            yes
5   Saturn      58323     83    gas giant   yes         -140            yes
6   Uranus      25362     27    ice giant   yes         -195            yes
7  Neptune      24622     14    ice giant   yes         -200            yes

In [ ]:
# The groupby() function returns a groupby object.
planets.groupby(['type'])

In [ ]:
# Apply the sum() function to the groupby object to get the sum
# of the values in each numerical column for each group.
planets.groupby(['type']).sum(numeric_only=True)

             radius_km  moons  mean_temp_c
type
gas giant       128234    163         -250
ice giant        49984     41         -395
terrestrial      18253      3          581

In [ ]:
planets.groupby('type').sum()[['radius_km', 'moons', 'mean_temp_c']]

             radius_km  moons  mean_temp_c
type
gas giant       128234    163         -250
ice giant        49984     41         -395
terrestrial      18253      3          581

In [ ]:
# Apply the sum function to the groupby object and select
# only the 'moons' column.
planets.groupby(['type']).sum()[['moons']]

             moons
type
gas giant      163
ice giant       41
terrestrial      3

In [ ]:
# Group by type and magnetic_field and get the mean of the values
# in the numeric columns for each group.
planets.groupby(['type', 'magnetic_field']).mean(numeric_only = True)

                            radius_km  moons  mean_temp_c
type        magnetic_field
gas giant   yes               64117.0   81.5       -125.0
ice giant   yes               24992.0   20.5       -197.5
terrestrial no                 4721.0    1.0        199.5
            yes                4405.5    0.5         91.0

In [ ]:
# Group by type, then use the agg() function to get the mean and median
# of the values in the numeric columns for each group.
planets.groupby(['type'])[['radius_km','moons','mean_temp_c']].agg(['mean', 'median'])

            radius_km           moons        mean_temp_c
                 mean   median   mean median        mean median
type
gas giant    64117.00  64117.0  81.50   81.5     -125.00 -125.0
ice giant    24992.00  24992.0  20.50   20.5     -197.50 -197.5
terrestrial   4563.25   4721.0   0.75    0.5      145.25   91.0

In [ ]:
# Group by type and magnetic_field, then use the agg() function to get the
# mean and max of the values in the numeric columns for each group.
planets.groupby(['type', 'magnetic_field'])[['radius_km','moons','mean_temp_c']].agg(['mean', 'max'])

                           radius_km        moons     mean_temp_c
                                mean    max  mean max        mean  max
type        magnetic_field
gas giant   yes              64117.0  69911  81.5  83      -125.0 -110
ice giant   yes              24992.0  25362  20.5  27      -197.5 -195
terrestrial no                4721.0   6052   1.0   2       199.5  464
            yes               4405.5   6371   0.5   1        91.0  167

In [ ]:
# Define a function that returns the 90 percentile of an array.
def percentile_90(x):
    return x.quantile(0.9)

In [ ]:
# Group by type and magnetic_field, then use the agg() function to apply the
# mean and the custom-defined `percentile_90()` function to the numeric
# columns for each group.
planets.groupby(['type', 'magnetic_field'])[['radius_km','moons','mean_temp_c']].agg(['mean', percentile_90])

                           radius_km               moons                \
                                mean percentile_90  mean percentile_90
type        magnetic_field
gas giant   yes              64117.0       68752.2  81.5          82.7
ice giant   yes              24992.0       25288.0  20.5          25.7
terrestrial no                4721.0        5785.8   1.0           1.8
            yes               4405.5        5977.9   0.5           0.9

                           mean_temp_c
                                  mean percentile_90
type        magnetic_field
gas giant   yes                 -125.0        -113.0
ice giant   yes                 -197.5        -195.5
terrestrial no                   199.5         411.1
            yes                   91.0         151.8

## [14] : Merging and joining data

In [ ]:
import numpy as np
import pandas as pd

# Instantiate a dictionary of planetary data.
data = {'planet': ['Mercury', 'Venus', 'Earth', 'Mars'],
        'radius_km': [2440, 6052, 6371, 3390],
        'moons': [0, 0, 1, 2],
        }
# Use pd.DataFrame() function to convert dictionary to dataframe.
df1 = pd.DataFrame(data)
df1

    planet  radius_km  moons
0  Mercury       2440      0
1    Venus       6052      0
2    Earth       6371      1
3     Mars       3390      2

In [ ]:
# Instantiate a dictionary of planetary data.
data = {'planet': ['Jupiter', 'Saturn', 'Uranus', 'Neptune'],
        'radius_km': [69911, 58232, 25362, 24622],
        'moons': [80, 83, 27, 14],
        }
# Use pd.DataFrame() function to convert dictionary to dataframe.
df2 = pd.DataFrame(data)
df2

    planet  radius_km  moons
0  Jupiter      69911     80
1   Saturn      58232     83
2   Uranus      25362     27
3  Neptune      24622     14

In [ ]:
# The pd.concat() function can combine the two dataframes along axis 0,
# with the second dataframe being added as new rows to the first dataframe.
df3 = pd.concat([df1, df2], axis=0)
df3

    planet  radius_km  moons
0  Mercury       2440      0
1    Venus       6052      0
2    Earth       6371      1
3     Mars       3390      2
0  Jupiter      69911     80
1   Saturn      58232     83
2   Uranus      25362     27
3  Neptune      24622     14

In [ ]:
# Reset the row indices.
df3 = df3.reset_index(drop=True)
df3

    planet  radius_km  moons
0  Mercury       2440      0
1    Venus       6052      0
2    Earth       6371      1
3     Mars       3390      2
4  Jupiter      69911     80
5   Saturn      58232     83
6   Uranus      25362     27
7  Neptune      24622     14

In [ ]:
# NOTE: THIS CELL WAS NOT SHOWN IN THE INSTRUCTIONAL VIDEO BUT WAS RUN AS A
#       SETUP CELL.
data = {'planet': ['Earth', 'Mars','Jupiter', 'Saturn', 'Uranus',
                   'Neptune', 'Janssen', 'Tadmor'],
        'type': ['terrestrial', 'terrestrial','gas giant', 'gas giant',
                 'ice giant', 'ice giant', 'super earth','gas giant'],
        'rings': ['no', 'no', 'yes', 'yes', 'yes','yes', 'no', None],
        'mean_temp_c': [15, -65, -110, -140, -195, -200, None, None],
        'magnetic_field': ['yes', 'no', 'yes', 'yes', 'yes', 'yes', None, None],
        'life': [1, 0, 0, 0, 0, 0, 1, 1]
        }
df4 = pd.DataFrame(data)

In [ ]:
df4

    planet         type rings  mean_temp_c magnetic_field  life
0    Earth  terrestrial    no         15.0            yes     1
1     Mars  terrestrial    no        -65.0             no     0
2  Jupiter    gas giant   yes       -110.0            yes     0
3   Saturn    gas giant   yes       -140.0            yes     0
4   Uranus    ice giant   yes       -195.0            yes     0
5  Neptune    ice giant   yes       -200.0            yes     0
6  Janssen  super earth    no          NaN           None     1
7   Tadmor    gas giant  None          NaN           None     1

In [ ]:
# Use pd.merge() to combine dataframes.
# Inner merge retains only keys that appear in both dataframes.
inner = pd.merge(df3, df4, on='planet', how='inner')
inner

,planet,radius_km,moons,type,rings,mean_temp_c,magnetic_field,life
0,Earth,6371,1,terrestrial,no,15.0,yes,1
1,Mars,3390,2,terrestrial,no,-65.0,no,0
2,Jupiter,69911,80,gas giant,yes,-110.0,yes,0
3,Saturn,58232,83,gas giant,yes,-140.0,yes,0
4,Uranus,25362,27,ice giant,yes,-195.0,yes,0
5,Neptune,24622,14,ice giant,yes,-200.0,yes,0

In [ ]:
# Use pd.merge() to combine dataframes.
# Outer merge retains all keys from both dataframes.
outer = pd.merge(df3, df4, on='planet', how='outer')
outer

,planet,radius_km,moons,type,rings,mean_temp_c,magnetic_field,life
0,Earth,6371.0,1.0,terrestrial,no,15.0,yes,1.0
1,Janssen,NaN,NaN,super earth,no,NaN,None,1.0
2,Jupiter,69911.0,80.0,gas giant,yes,-110.0,yes,0.0
3,Mars,3390.0,2.0,terrestrial,no,-65.0,no,0.0
4,Mercury,2440.0,0.0,NaN,NaN,NaN,NaN,NaN
5,Neptune,24622.0,14.0,ice giant,yes,-200.0,yes,0.0
6,Saturn,58232.0,83.0,gas giant,yes,-140.0,yes,0.0
7,Tadmor,NaN,NaN,gas giant,None,NaN,None,1.0
8,Uranus,25362.0,27.0,ice giant,yes,-195.0,yes,0.0
9,Venus,6052.0,0.0,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Use pd.merge() to combine dataframes.
# Left merge retains only keys that appear in the left dataframe.
left = pd.merge(df3, df4, on='planet', how='left')
left

,planet,radius_km,moons,type,rings,mean_temp_c,magnetic_field,life
0,Mercury,2440,0,NaN,NaN,NaN,NaN,NaN
1,Venus,6052,0,NaN,NaN,NaN,NaN,NaN
2,Earth,6371,1,terrestrial,no,15.0,yes,1.0
3,Mars,3390,2,terrestrial,no,-65.0,no,0.0
4,Jupiter,69911,80,gas giant,yes,-110.0,yes,0.0
5,Saturn,58232,83,gas giant,yes,-140.0,yes,0.0
6,Uranus,25362,27,ice giant,yes,-195.0,yes,0.0
7,Neptune,24622,14,ice giant,yes,-200.0,yes,0.0

In [ ]:
# Use pd.merge() to combine dataframes.
# Right merge retains only keys that appear in right dataframe.
right = pd.merge(df3, df4, on='planet', how='right')
right

,planet,radius_km,moons,type,rings,mean_temp_c,magnetic_field,life
0,Earth,6371.0,1.0,terrestrial,no,15.0,yes,1
1,Mars,3390.0,2.0,terrestrial,no,-65.0,no,0
2,Jupiter,69911.0,80.0,gas giant,yes,-110.0,yes,0
3,Saturn,58232.0,83.0,gas giant,yes,-140.0,yes,0
4,Uranus,25362.0,27.0,ice giant,yes,-195.0,yes,0
5,Neptune,24622.0,14.0,ice giant,yes,-200.0,yes,0
6,Janssen,NaN,NaN,super earth,no,NaN,None,1
7,Tadmor,NaN,NaN,gas giant,None,NaN,None,1

# [Activity] lists and tuples

## Task 1: Create lists and use tuples
As you continue your work with the EPA, you want to create an ordered data structure containing pairs of values, which can be iterated over to gain insights from the data.

**1a: Create lists**

You'll work with state names and county names indicated below.

    state_name	county_name
    Arizona	    Maricopa
    California	 Alameda
    California	 Sacramento
    Kentucky	   Jefferson
    Louisiana	  East Baton Rouge

- In this task, assign two variables:

1. **state_names** - a list of each state in the state_name column in the table above, in order, as strings

2. **county_names** - a list of each county in the county_name column in the table above, in order, as strings

In [ ]:
# 1. ### YOUR CODE HERE ###
state_names = ["Arizona", "California", "California", "Kentucky", "Louisiana"]

# 2. ### YOUR CODE HERE ###
county_names = ["Maricopa", "Alameda", "Sacramento", "Jefferson", "East Baton Rouge"]

**1b: Use a loop to combine the lists into a single list of tuples**

- Use **state_names** and **county_names** to:

  - Create a new list of tuples, where each tuple contains a pair of state name and county name.
  - Assign the new list to a variable called **state_county_tuples**.

- Print the result

In [ ]:
### YOUR CODE HERE ###
state_county_tuples = []
for i in range(len(state_names)):
    state_county_tuples.append((state_names[i], county_names[i]))

state_county_tuples

[('Arizona', 'Maricopa'),
 ('California', 'Alameda'),
 ('California', 'Sacramento'),
 ('Kentucky', 'Jefferson'),
 ('Louisiana', 'East Baton Rouge')]

**1c: Do the same thing using the zip() function**

Python has a built-in function to make the above process much easier. It's called the zip() function. This function accepts any number of iterable objects as arguments. If the arguments are all of equal length, the function returns an iterator object of tuples, where each tuple contains element[i] of each argument.

You can then either loop over the iterator object or pass it to the list() function to unpack its values.

Refer to the zip() Python documentation for more information.

Here's an example:

In [ ]:
# RUN THIS CELL
a = ['a', 'b', 'c']
b = [1, 2, 3]
c = zip(a, b)

print(c)
print(list(c))

<zip object at 0x79fd91f77ec0>
[('a', 1), ('b', 2), ('c', 3)]

Use the zip() function to generate the same output created in Task 1b.

1. Use **state_names** and **county_names** to:
  - Create a new list of tuples, where each tuple contains a pair of state name and county name.
  - Assign the new list to a variable called state_county_zipped.

2. Check that **state_county_zipped** is the same as **state_county_tuples**.

In [ ]:
# 1. ### YOUR CODE HERE ###
state_county_zipped = list(zip(state_names, county_names))

# 2. ### YOUR CODE HERE ###
state_county_zipped == state_county_tuples

True

## **Task 2: Use list comprehension to convert to list of lists**

Since tuples are immutable and can't be changed, converting tuples to lists is a practice data professionals use so they can make adjustments to the data, if necessary.

- Use a list comprehension to convert **state_county_tuples** from a list of tuples to a list of lists. Assign the result to a variable called **state_county_lists**.

- Print the result.

In [ ]:
### YOUR CODE HERE
state_county_lists = [list(i) for i in state_county_tuples]
state_county_lists

[['Arizona', 'Maricopa'],
 ['California', 'Alameda'],
 ['California', 'Sacramento'],
 ['Kentucky', 'Jefferson'],
 ['Louisiana', 'East Baton Rouge']]

## **Task 3: Unpacking an iterable**

Data professionals often use the technique of unpacking to work with individual elements of iterable objects. As you continue in your work as an analyst, you are asked to iterate through your list of state/county pairs to identify only the counties in California.

As a refresher, here is the data you have been working with:
    
    state_name	county_name
    Arizona	    Maricopa
    California	 Alameda
    California	 Sacramento
    Kentucky	   Jefferson
    Louisiana	  East Baton Rouge

**3a: Unpacking in a loop**

Write a loop that unpacks each tuple in **state_county_tuples** and, if the state in the tuple is California, add the corresponding county to a list called **ca_counties**.

In [ ]:
ca_counties = []
for state, county in state_county_tuples:
    if state=='California':
        ca_counties.append(county)
ca_counties

['Alameda', 'Sacramento']

**3b: Unpacking in a list comprehension**

Now, use a list comprehension to accomplish the same thing as what you did in Task 3a.

- In a list comprehension, unpack each tuple in state_county_tuples and, if the state in the tuple is California, add the corresponding county to the list comprehension.

- Assign the result to a variable called ca_counties.

- Print ca_counties.

In [ ]:
ca_counties = [county for (state, county) in state_county_tuples if state=='California']
ca_counties

['Alameda', 'Sacramento']

# [Activity] Dictionaries and Sets

## Task 1: Create a dictionary to store information
Dictionaries are useful when you need a data structure to store information that can be referenced or looked up.

In this task you'll begin with three list objects:

- **state_list** - an ordered list of the state where each data point was recorded

- **county_list** - an ordered list of the county where each data point was recorded

- **aqi_list** - an ordered list of AQI records

As a refresher, here is an example table of some of the information contained in these variables:

    state_name	county_name	  aqi
    Arizona	    Maricopa	     9
    California	 Alameda	     11
    California	 Sacramento	  35
    Kentucky	   Jefferson	    6
    Louisiana	  East Baton Rouge 5

Reminder: This lab uses more data than the last one. This table is just a small sample of the information contained in the three lists that are provided for this activity.

### 1a: Create a list of tuples

Begin with an intermediary step to prepare the information to be put in a dictionary.

- Convert state_list, county_list, and aqi_list to a list of tuples, where each tuple contains information for a single record: (state, county, aqi).

- Assign the result to a variable called epa_tuples.

In [ ]:
# RUN THIS CELL TO IMPORT YOUR DATA
import ada_c2_labs as lab
state_list = lab.fetch_epa('state')
county_list = lab.fetch_epa('county')
aqi_list = lab.fetch_epa('aqi')

In [ ]:
### YOUR CODE HERE ###
epa_tuples = list(zip(state_list, county_list, aqi_list))

###1b: Create a dictionary
Now that you have a list of tuples containing AQI records, use it to create a dictionary that allows you to look up a state and get all the county-AQI pairs associated with that state.

- Create a dictionary called **aqi_dict**:

  - Use a loop to unpack information from each tuple in **epa_tuples**.

  - Your dictionary's keys should be states.

  - The value at each key should be a list of tuples, where each tuple is a county-AQI pair of a record from a given state.

In [ ]:
### YOUR CODE HERE ###
aqi_dict = {}
for state, county, aqi in epa_tuples:
    if state in aqi_dict:
        aqi_dict[state].append((county, aqi))
    else:
        aqi_dict[state] = [(county, aqi)]

In [ ]:
aqi_dict['Vermont']

[('Chittenden', 18.0),
 ('Chittenden', 20.0),
 ('Chittenden', 3.0),
 ('Chittenden', 49.0),
 ('Rutland', 15.0),
 ('Chittenden', 3.0),
 ('Chittenden', 6.0),
 ('Rutland', 3.0),
 ('Rutland', 6.0),
 ('Chittenden', 5.0),
 ('Chittenden', 2.0)]

## Task 2: Use the dictionary to retrieve information
Now that you have a dictionary of county-AQI readings by state, you can use it to retrieve information and draw further insight from your data.

### 2a: Calculate how many readings were recorded in the state of Arizona
Use your Python skills to calculate the number of readings that were recorded in the state of Arizona.

In [ ]:
### YOUR CODE HERE ###
len(aqi_dict['Arizona'])

72

###2b: Calculate the mean AQI from the state of California
Use your Python skills to calculate the mean of the AQI readings that were recorded in the state of California. Note that there are many different approaches you can take. Be creative!

In [ ]:
### YOUR CODE HERE ###
ca_aqi_list = [aqi for county, aqi in aqi_dict['California']]
ca_aqi_mean = sum(ca_aqi_list) / len(ca_aqi_list)
ca_aqi_mean

9.412280701754385

## Task 3: Define a county_counter() function¶
You want to be able to quickly look up how many times a county is represented in a given state's readings. Even though you already have a list containing just county names, it's not safe to rely on the counts from that list alone because some states might have counties with the same name. Therefore, you'll need to use the state-specific information in aqi_dict to calculate this information.

### 3a: Write the function
- Define a function called **county_counter** that takes one argument:
  
  - **state** - a string of the name of a U.S. state

- Return **county_dict** - a dictionary object whose keys are counties of the state given in the function's argument. For each county key, the corresponding value should be the count of the number of times that county is represented in the AQI data for that state.

In [ ]:
### YOUR CODE HERE ###
def county_counter(state):
    county_dict = {}
    for county, aqi in aqi_dict[state]:
        if county in county_dict:
            county_dict[county] +=1
        else:
            county_dict[county] = 1
    return county_dict

### 3b: Use the function to check Washington County, PA.
Use the county_counter() function to calculate how many AQI readings were from Washington County, Pennsylvania.

In [ ]:
### YOUR CODE HERE ###
pa_dict = county_counter('Pennsylvania')
pa_dict['Washington']

7

### 3c: Use the function to check the different counties in Indiana
Use the county_counter function to obtain a list of all the different counties in the state of Indiana.

In [ ]:
### YOUR CODE HERE ###
county_counter('Indiana').keys()

dict_keys(['Marion', 'St. Joseph', 'Vanderburgh', 'Allen', 'Vigo', 'Hendricks', 'Lake'])

## Task 4: Use sets to determine how many counties share names
In this task, you'll create a list of every county from every state, then use it to determine how many counties have the same name.

### 4a: Construct a list of every county from every state
1. - Use **aqi_dict** and **county_counter()** to construct a list of every county from every state.

  - Assign the result to a variable called **all_counties**.

2. Find the length of **all_counties**.

In [ ]:
# 1. ### YOUR CODE HERE ###
all_counties = []
for state in aqi_dict.keys():
    counties = list(county_counter(state).keys())
    all_counties += counties

# 2. ### YOUR CODE HERE ###
len(all_counties)

277

### 4b: Calculate how many counties share names
Use **all_counties** and your knowledge of sets and list methods to determine how many counties share names.

In [ ]:
shared_count = 0

for county in set(all_counties):
    count = all_counties.count(county)
    if count > 1:
        shared_count += count

shared_count

41

# [Activtiy] Arrays and vectors with numpy

## Task 1: Create an array using NumPy
The EPA has compiled some AQI data where each AQI report has the state name, county name, and AQI. Refer to the table below as an example.

    state_name	county_name	aqi
    Arizona	    Maricopa	   18
    California	 Alameda	    11
    California	 Butte	       6
    Texas	      El Paso	    40
    Florida	    Duval	      15

### **1a: Import NumPy**

Import NumPy using its standard alias.

In [ ]:
### YOUR CODE HERE ###
import numpy as np

### 1b: Create an array of AQI data

You are given an ordered list of AQI readings called **aqi_list**.

1. Use a NumPy function to convert the list to an ndarray. Assign the result to a variable called **aqi_array**.

2. Print the length of **aqi_array**.

3. Print the first five elements of **aqi_array**.

In [ ]:
### RUN THIS CELL TO IMPORT YOUR DATA
import ada_c2_labs as lab
aqi_list = lab.fetch_epa('aqi')

In [ ]:
# 1. ### YOUR CODE HERE
aqi_array = np.array(aqi_list)

# 2. ### YOUR CODE HERE
print(len(aqi_array))

# 3. ### YOUR CODE HERE
print(aqi_array[:5])

1725
[18.  9. 20. 11.  6.]

## Task 2: Calculate summary statistics
Now that you have the AQI data stored in an array, use NumPy functions to calculate some summary statistics about it.

- Use built-in NumPy functions to print the following values from aqi_array:

  1. Maximum value

  2. Minimum value

  3. Median value

  4. Standard deviation

In [ ]:
### YOUR CODE HERE ###
print('Max =', np.max(aqi_array))
print('Min =', np.min(aqi_array))
print('Median =', np.median(aqi_array))
print('Std =', np.std(aqi_array))

Max = 93.0
Min = 0.0
Median = 8.0
Std = 10.382982538847708

## Task 3: Calculate percentage of readings with cleanest AQI

You are interested in how many air quality readings in the data represent the cleanest air, which we'll consider **readings of 5 or less**.

To perform this calculation, you'll make use of one of the properties of arrays that make them so powerful: their element-wise operability. For example, when you add an integer to an ndarray using the + operator, it performs an element-wise addition on the whole array.

**The same concept applies to comparison operators used on an ndarray**. With this in mind:

- Calculate the percentage of AQI readings that are considered cleanest:

  1. Use a comparison statement to get an array of Boolean values that is the same length as **aqi_array**. Assign the result to variable called **boolean_aqi**.

  2. Calculate the number of True values in the **boolean_aqi** and divide this number by the total number of values in the array. Assign the result to a variable named **percent_under_6** and print it.

In [ ]:
# 1. ### YOUR CODE HERE ###
boolean_aqi = (aqi_array <= 5)

# 2. ### YOUR CODE HERE ###
percent_under_6 = boolean_aqi.sum() / len(boolean_aqi)
percent_under_6

0.3194202898550725

# [Activity] Dataframes with pandas

## Task 1: Read data from csv file into a pandas dataframe

You are given two files of data. Begin with the first file, which contains the three states with the most observations (rows): California, Texas, and Pennsylvania.

### 1a: Import statements
Import numpy and pandas. Use their standard aliases.

In [ ]:
### YOUR CODE HERE ###
import numpy as np
import pandas as pd

### 1b: Read in the first file
Use the **pd.read_csv()** function to read in the data from the three states with the most observations. The file is called **'epa_ca_tx_pa.csv'** and is already in your working directory. Assign the resulting dataframe to a variable named top3.
Use the **head()** method on the top3 dataframe to inspect the first five rows.

In [ ]:
# 1. ### YOUR CODE HERE ###
top3 = pd.read_csv('epa_ca_tx_pa.csv')

# 2. ### YOUR CODE HERE ###
top3.head()

   state_code  state_name  county_code county_name   aqi
0           6  California            1     Alameda  11.0
1           6  California            7       Butte   6.0
2           6  California           19      Fresno  11.0
3           6  California           29        Kern   7.0
4           6  California           29        Kern   3.0

## Task 2: Summary information
Now that you have a dataframe with the AQI data for California, Texas, and Pennsylvania, get some high-level summary information about it.

### 2a: Metadata
Use a DataFrame method to examine the number of rows and columns, the column names, the data type contained in each column, the number of non-null values in each column, and the amount of memory the dataframe uses.

In [ ]:
top3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546 entries, 0 to 545
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   state_code   546 non-null    int64
 1   state_name   546 non-null    object
 2   county_code  546 non-null    int64
 3   county_name  546 non-null    object
 4   aqi          546 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 21.5+ KB

### 2b: Summary statistics
Examine the summary statistics of the dataframe's numeric columns. The output should be a table that includes row count, mean, standard deviation, min, max, and quartile values.

In [ ]:
### YOUR CODE HERE ###
top3.describe()

       state_code  county_code         aqi
count  546.000000   546.000000  546.000000
mean    20.593407    83.179487    8.906593
std     19.001484    92.240873    9.078479
min      6.000000     1.000000    0.000000
25%      6.000000    29.000000    3.000000
50%      6.000000    66.000000    6.000000
75%     42.000000    98.500000   11.000000
max     48.000000   479.000000   93.000000

## Task 3: Explore your data¶
Practice exploring your data by completing the following exercises.

### 3a: Rows per state
Select the state_name column and use the **value_counts()** method on it to check how many rows there are for each state in the dataframe.

In [ ]:
### YOUR CODE HERE ###
top3['state_name'].value_counts()

state_name
California      342
Texas           104
Pennsylvania    100
Name: count, dtype: int64

### 3b: Sort by AQI
1. Create a new dataframe called **top3_sorted** by using the **sort_values()** method on the top3 dataframe. Refer to the sort_values pandas documentation for more information about how to use this method.

  - The new dataframe should contain the data sorted by AQI, beginning with the rows with the highest AQI values.

2. Print the top 10 rows of **top3_sorted**.

In [ ]:
# 1. ### YOUR CODE HERE ###
top3_sorted = top3.sort_values(by='aqi', ascending=False)

# 2. ### YOUR CODE HERE ###
top3_sorted.head(10)

     state_code  state_name  county_code    county_name   aqi
76            6  California           37    Los Angeles  93.0
146           6  California           37    Los Angeles  59.0
51           48       Texas          141        El Paso  47.0
41            6  California           83  Santa Barbara  47.0
122           6  California           59         Orange  47.0
184           6  California           59         Orange  47.0
80            6  California           65      Riverside  43.0
91           48       Texas          141        El Paso  40.0
136          48       Texas          141        El Paso  40.0
58            6  California           65      Riverside  40.0

### 3c: Use iloc to select rows
Use iloc to select the two rows at indices 10 and 11 of the **top3_sorted** dataframe.

In [ ]:
### YOUR CODE HERE ###
top3_sorted.iloc[10:12]

## Task 4: Examine California data
You notice that the rows with the highest AQI represent data from California, so you want to examine the data for just the state of California.

### 4a: Basic Boolean masking
1. Create a Boolean mask that selects only the observations of the **top3_sorted** dataframe that are from California.

2. Apply the Boolean mask to the **top3_sorted** dataframe and assign the result to a variable called **ca_df**.

3. Print the first five rows of **ca_df**.

In [ ]:
# 1. ### YOUR CODE HERE ###
mask = top3_sorted['state_name'] == 'California'

# 2. ### YOUR CODE HERE ###
ca_df = top3_sorted[mask]

# 3. ### YOUR CODE HERE ###
ca_df.head()

     state_code  state_name  county_code    county_name   aqi
76            6  California           37    Los Angeles  93.0
146           6  California           37    Los Angeles  59.0
41            6  California           83  Santa Barbara  47.0
122           6  California           59         Orange  47.0
184           6  California           59         Orange  47.0

### 4b: Validate CA data
Inspect the shape of your new **ca_df** dataframe. Does its row count match the number of California rows determined in Task 3a?

In [ ]:
### YOUR CODE HERE ###
ca_df.shape

(342, 5)

### 4c: Rows per CA county
Examine a list of the number of times each county is represented in the California data.

In [ ]:
### YOUR CODE HERE ###
ca_df['county_name'].value_counts()

county_name
Los Angeles        55
Santa Barbara      26
San Bernardino     21
Orange             19
San Diego          19
Sacramento         17
Alameda            17
Fresno             16
Riverside          14
Imperial           13
Contra Costa       13
Monterey            8
San Francisco       8
Humboldt            8
Santa Clara         7
El Dorado           7
Mendocino           6
Placer              6
Kern                6
Butte               6
Tulare              5
Ventura             5
Solano              5
San Joaquin         5
Sutter              4
San Mateo           4
Sonoma              3
Stanislaus          3
Marin               3
San Luis Obispo     2
Napa                2
Calaveras           2
Santa Cruz          2
Tuolumne            1
Inyo                1
Shasta              1
Mono                1
Yolo                1
Name: count, dtype: int64

### 4d: Calculate mean AQI for Los Angeles county
You notice that Los Angeles county has more than twice the number of rows of the next-most-represented county in California, and you want to learn more about it.

- Calculate the mean AQI for LA county.

In [ ]:
### YOUR CODE HERE ###
mask = ca_df['county_name'] == 'Los Angeles'
ca_df[mask]['aqi'].mean()

np.float64(13.4)

## Task 5: Groupby
Group the original dataframe (top3) by state and calculate the mean AQI for each state.

In [ ]:
### YOUR CODE HERE ###
top3.groupby('state_name')[['aqi']].mean()

                   aqi
state_name
California    9.412281
Pennsylvania  6.690000
Texas         9.375000

## Task 6: Add more data
Now that you have performed a short examination of the file with AQI data for California, Texas, and Pennsylvania, you want to add more data from your second file.

### 6a: Read in the second file

1. Read in the data for the remaining territories. The file is called **'epa_others.csv'** and is already in your working directory. Assign the resulting dataframe to a variable named **other_states**.
2.Use the **head()** method on the **other_states** dataframe to inspect the first five rows.

In [ ]:
# 1. ### YOUR CODE HERE ###
other_states = pd.read_csv('epa_others.csv')

# 2. ### YOUR CODE HERE ###
other_states.head()

   state_code state_name  county_code county_name   aqi
0           4    Arizona           13    Maricopa  18.0
1           4    Arizona           13    Maricopa   9.0
2           4    Arizona           19        Pima  20.0
3           8   Colorado           41     El Paso   9.0
4          12    Florida           31       Duval  15.0

### 6b: Concatenate the data
The data from **other_states** is in the same format as the data from **top3**. It has the same columns in the same order.

1. Add the data from **other_states** as new rows beneath the data from **top3**. Assign the result to a new dataframe called **combined_df**.

2. Verify that the length of **combined_df** is equal to the sum of the lengths of **top3** and **other_states**.

In [ ]:
# 1. ### YOUR CODE HERE ###
combined_df = pd.concat([top3, other_states], axis=0)

# 2. ### YOUR CODE HERE ###
len(combined_df) == len(top3) + len(other_states)

True

## Task 7: Complex Boolean masking

According to the EPA, AQI values of 51-100 are considered of "Moderate" concern. You've been tasked with examining some data for the state of Washington.

- Use Boolean masking to return the rows that represent data from the state of Washington with AQI values of 51+.

In [ ]:
### YOUR CODE HERE ###
mask = (combined_df['state_name'] == 'Washington') & (combined_df['aqi'] >= 51)
combined_df[mask]

     state_code  state_name  county_code county_name   aqi
40           53  Washington           33        King  55.0
82           53  Washington           61   Snohomish  76.0
121          53  Washington           77      Yakima  58.0
122          53  Washington           77      Yakima  57.0